/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
/* line 5, ../scss/style.scss */
.clearfix {
  zoom: 1;
}
/* line 7, ../scss/style.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 11, ../scss/style.scss */
.clearfix:after {
  clear: both;
}

/***** SITE STYLES *************/
/**********************************/
/* line 18, ../scss/style.scss */
body {
  background: #fbf9f5;
  font-family: "Ubuntu", sans-serif;
  color: #002041;
  line-height: 1.5em;
}

/* line 25, ../scss/style.scss */
h2, h3, h4 {
  font-family: "Rokkitt", serif;
}

/* line 29, ../scss/style.scss */
ul {
  padding: 0;
}

/* line 33, ../scss/style.scss */
li {
  list-style: none;
}

/* line 37, ../scss/style.scss */
img {
  max-width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}

/* line 44, ../scss/style.scss */
.top {
  background-image: url(../img/heroimg.jpg);
  background-repeat: no-repeat;
  background-position: center 20%;
  background-size: cover;
  width: 100%;
  font-family: "Rokkitt", serif;
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 0 #000000;
}

/* line 59, ../scss/style.scss */
.logo {
  width: 20%;
  height: 20%;
  margin: 0 auto;
  display: block;
}

/* line 67, ../scss/style.scss */
.register {
  background: #f7941d;
  color: white;
  border: 5px solid white;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  padding: 5px;
  width: 50px;
  margin: 0 auto;
  transition: background 0.5s ease;
  font-size: small;
}
/* line 81, ../scss/style.scss */
.register:hover {
  background: #7f4d10;
}

/* line 86, ../scss/style.scss */
.registerone {
  background: #f7941d;
  color: white;
  border: 5px solid white;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  padding: 15px;
  display: block;
  width: 50px;
  margin: 0 auto;
  transition: background 0.5s ease;
}
/* line 100, ../scss/style.scss */
.registerone:hover {
  background: #7f4d10;
}

/* line 105, ../scss/style.scss */
.discount {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-decoration: line-through;
}

/* line 113, ../scss/style.scss */
.p2 {
  background: #ffffff;
  padding: 2%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

/* line 119, ../scss/style.scss */
.maincontent {
  width: 95%;
  margin: 0 auto;
}

/* line 124, ../scss/style.scss */
.firsth {
  margin-top: 0;
}

/* line 128, ../scss/style.scss */
.schedule {
  padding-bottom: 2%;
  width: 95%;
  margin: 0 auto;
}
/* line 133, ../scss/style.scss */
.schedule ul p {
  margin: 0;
}
/* line 137, ../scss/style.scss */
.schedule ul li {
  margin-bottom: 2%;
  padding: 2%;
  display: inline-block;
}

/* line 145, ../scss/style.scss */
.schedule_table {
  width: 95%;
  margin: 0 auto;
}

/* line 151, ../scss/style.scss */
.hashtag {
  margin-top: 5%;
  margin-bottom: 5%;
}

/* line 156, ../scss/style.scss */
.wednesday {
  border: 2px solid #b2b2b2;
  border-bottom: none;
  padding: 2%;
}
/* line 160, ../scss/style.scss */
.wednesday h3 {
  border-bottom: 2px solid #b2b2b2;
  background: #b8e2b9;
}

/* line 166, ../scss/style.scss */
.thursday {
  border: 2px solid #b2b2b2;
  border-bottom: none;
  padding: 2%;
}
/* line 170, ../scss/style.scss */
.thursday h3 {
  border-bottom: 2px solid #b2b2b2;
  background: #b8e2b9;
}

/* line 176, ../scss/style.scss */
.friday {
  border: 2px solid #b2b2b2;
  padding: 2%;
}
/* line 179, ../scss/style.scss */
.friday h3 {
  border-bottom: 2px solid #b2b2b2;
  background: #b8e2b9;
}

/* line 186, ../scss/style.scss */
.lunch {
  border-bottom: 2px solid #b2b2b2;
  border-top: 2px solid #b2b2b2;
  padding: 1%;
  background: #a6cca7;
}

/* line 193, ../scss/style.scss */
.sidebar {
  background: #b8e2b9;
  padding: 2%;
}
/* line 197, ../scss/style.scss */
.sidebar h4, .sidebar h3 {
  margin: 0;
}

/* line 203, ../scss/style.scss */
.draplin img {
  height: 30%;
  width: 30%;
}

/* line 210, ../scss/style.scss */
.lukas img {
  height: 30%;
  width: 30%;
}

/* line 228, ../scss/style.scss */
.bottom p {
  text-align: center;
}

/* line 233, ../scss/style.scss */
.presentation {
  background: white;
  padding-bottom: 2%;
  padding-left: 2%;
  width: 95%;
  margin: 0 auto;
}
/* line 239, ../scss/style.scss */
.presentation img {
  width: 50%;
  margin: 0 auto;
}
/* line 243, ../scss/style.scss */
.presentation a {
  display: inline-block;
  opacity: 1.0;
  transition: opacity 0.5s;
  width: 45%;
}
/* line 249, ../scss/style.scss */
.presentation a:hover {
  opacity: 0.4;
}

/* line 255, ../scss/style.scss */
.footerimg {
  height: 25%;
  width: 15%;
  margin: 0 auto;
  padding-top: 2%;
}

/* line 265, ../scss/style.scss */
.progress {
  position: fixed;
  top: 0;
  background-color: #b2b2b2;
  opacity: 0.9;
  width: 100%;
  height: 50px;
  z-index: 10000;
}
/* line 274, ../scss/style.scss */
.progress img {
  height: 75%;
  width: 75%;
  position: absolute;
  left: -30%;
  padding-top: 1%;
}

/* line 287, ../scss/style.scss */
.sponsors {
  width: 95%;
  padding: 2%;
  margin: 0 auto;
}
/* line 291, ../scss/style.scss */
.sponsors img {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background: #ffffff;
  width: 45%;
  height: 45%;
  padding: 20px;
  display: inline-block;
}
/* line 300, ../scss/style.scss */
.sponsors a {
  display: inline-block;
  opacity: 1.0;
  transition: opacity 0.5s;
  width: 45%;
  height: 45%;
}
/* line 307, ../scss/style.scss */
.sponsors a:hover {
  opacity: 0.4;
}

/* line 312, ../scss/style.scss */
.draplin {
  display: inline-block;
  width: 45%;
  vertical-align: top;
  margin: 0 auto;
  padding: 2%;
}

/* line 321, ../scss/style.scss */
.lukas {
  display: inline-block;
  width: 45%;
  vertical-align: top;
  margin: 0 auto;
  padding: 2%;
}

/* line 330, ../scss/style.scss */
.sidebar {
  padding: 2%;
  margin: 0 auto;
}
/* line 333, ../scss/style.scss */
.sidebar h4 {
  margin: 0;
}

/* line 338, ../scss/style.scss */
.nav-collapse {
  text-align: center;
}
/* line 340, ../scss/style.scss */
.nav-collapse a {
  color: #ffffff;
  text-decoration: none;
}
/* line 344, ../scss/style.scss */
.nav-collapse li {
  display: inline-block;
  padding-left: 1%;
  padding-right: 1%;
  width: 20%;
  font-size: 10pt;
}

@media screen and (min-width: 660px) {
  /* line 356, ../scss/style.scss */
  .wrapper {
    display: inline-block;
  }

  /* line 360, ../scss/style.scss */
  .sidebar {
    padding: 2%;
    display: inline-block;
  }
  /* line 363, ../scss/style.scss */
  .sidebar h4 {
    margin: 0;
  }

  /* line 405, ../scss/style.scss */
  .ums {
    display: inline-block;
    vertical-align: middle;
    padding-top: 35px;
  }

  /* line 411, ../scss/style.scss */
  .tiy {
    display: inline-block;
    vertical-align: middle;
  }

  /* line 416, ../scss/style.scss */
  .footerimg {
    width: 10%;
  }
}
@media screen and (min-width: 1000px) {
  /* line 426, ../scss/style.scss */
  .wrapper {
    display: inline-block;
  }

  /* line 430, ../scss/style.scss */
  .sidebar {
    padding: 2%;
    display: inline-block;
  }
  /* line 433, ../scss/style.scss */
  .sidebar img {
    width: 50%;
  }
  /* line 436, ../scss/style.scss */
  .sidebar h4 {
    margin: 0;
  }

  /* line 441, ../scss/style.scss */
  .presentation {
    width: 95%;
    margin: 0 auto;
    padding-left: 2%;
  }
  /* line 446, ../scss/style.scss */
  .presentation img {
    display: block;
    vertical-align: middle;
  }

  /* line 462, ../scss/style.scss */
  .footerimg {
    width: 5%;
    max-width: 120px;
  }
}
