/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
/* line 5, ../scss/style.scss */
.clearfix {
  zoom: 1;
}
/* line 7, ../scss/style.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 11, ../scss/style.scss */
.clearfix:after {
  clear: both;
}

/***** SITE STYLES *************/
/**********************************/
/* line 18, ../scss/style.scss */
body {
  background: #fbf9f5;
  font-family: "Ubuntu", sans-serif;
  color: #002041;
  line-height: 1.5em;
}

/* line 25, ../scss/style.scss */
h2, h3, h4 {
  font-family: "Rokkitt", serif;
}

/* line 29, ../scss/style.scss */
ul {
  padding: 0;
}

/* line 33, ../scss/style.scss */
li {
  list-style: none;
}

/* line 37, ../scss/style.scss */
img {
  max-width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}

/* line 44, ../scss/style.scss */
.top {
  background-image: url(../img/heroimg.jpg);
  background-repeat: no-repeat;
  background-position: center 20%;
  background-size: cover;
  width: 100%;
  font-family: "Rokkitt", serif;
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 0 #000000;
}

/* line 59, ../scss/style.scss */
.logo {
  width: 20%;
  height: 20%;
  margin: 0 auto;
  display: block;
}

/* line 67, ../scss/style.scss */
.register {
  background: #f7941d;
  color: white;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  padding: 5px;
  width: 50px;
  margin: 0 auto;
  transition: background 0.5s ease;
  font-size: 10pt;
}
/* line 80, ../scss/style.scss */
.register:hover {
  background: #7f4d10;
}

/* line 85, ../scss/style.scss */
.registerone {
  background: #f7941d;
  color: white;
  border: 5px solid white;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  padding: 15px;
  display: block;
  width: 100px;
  margin: 0 auto;
  transition: background 0.5s ease;
}
/* line 99, ../scss/style.scss */
.registerone:hover {
  background: #7f4d10;
}

/* line 104, ../scss/style.scss */
.discount {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-decoration: line-through;
}

/* line 112, ../scss/style.scss */
.p2 {
  background: #ffffff;
  padding: 2%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

/* line 118, ../scss/style.scss */
.maincontent {
  width: 95%;
  margin: 0 auto;
}

/* line 123, ../scss/style.scss */
.firsth {
  margin-top: 0;
}

/* line 127, ../scss/style.scss */
.schedule {
  padding-bottom: 2%;
  width: 95%;
  margin: 0 auto;
}
/* line 132, ../scss/style.scss */
.schedule ul p {
  margin: 0;
}
/* line 136, ../scss/style.scss */
.schedule ul li {
  margin-bottom: 2%;
  padding: 2%;
  display: inline-block;
  width: 40%;
}

/* line 145, ../scss/style.scss */
.schedule_table {
  width: 95%;
  margin: 0 auto;
  background: #a6cca7;
}

/* line 152, ../scss/style.scss */
.hashtag {
  margin-top: 5%;
  margin-bottom: 5%;
}

/* line 157, ../scss/style.scss */
.wednesday {
  border: 2px solid #b2b2b2;
  border-bottom: none;
  padding: 2%;
}
/* line 161, ../scss/style.scss */
.wednesday h3 {
  border-bottom: 2px solid #b2b2b2;
}

/* line 166, ../scss/style.scss */
.thursday {
  border: 2px solid #b2b2b2;
  border-bottom: none;
  padding: 2%;
}
/* line 170, ../scss/style.scss */
.thursday h3 {
  border-bottom: 2px solid #b2b2b2;
}

/* line 176, ../scss/style.scss */
.friday {
  border: 2px solid #b2b2b2;
  padding: 2%;
}
/* line 179, ../scss/style.scss */
.friday h3 {
  border-bottom: 2px solid #b2b2b2;
}

/* line 186, ../scss/style.scss */
.lunch {
  border-bottom: 2px solid #b2b2b2;
  border-top: 2px solid #b2b2b2;
  padding: 1%;
}

/* line 193, ../scss/style.scss */
.sidebar {
  background: #b8e2b9;
  padding: 2%;
}
/* line 197, ../scss/style.scss */
.sidebar h4, .sidebar h3 {
  margin: 0;
}

/* line 203, ../scss/style.scss */
.draplin img {
  height: 30%;
  width: 30%;
}

/* line 210, ../scss/style.scss */
.lukas img {
  height: 30%;
  width: 30%;
}

/* line 217, ../scss/style.scss */
.bottom p {
  text-align: center;
}

/* line 222, ../scss/style.scss */
.presentation {
  background: white;
  padding-bottom: 2%;
  padding-left: 2%;
  width: 95%;
  margin: 0 auto;
}
/* line 228, ../scss/style.scss */
.presentation img {
  width: 95%;
  margin: 0 auto;
}
/* line 232, ../scss/style.scss */
.presentation a {
  display: inline-block;
  opacity: 1.0;
  transition: opacity 0.5s;
  width: 95%;
}
/* line 238, ../scss/style.scss */
.presentation a:hover {
  opacity: 0.4;
}
/* line 243, ../scss/style.scss */
.presentation.ums {
  height: 50%;
}

/* line 248, ../scss/style.scss */
.footerimg {
  height: 25%;
  width: 15%;
  margin: 0 auto;
  padding-top: 2%;
}

/* line 258, ../scss/style.scss */
.progress {
  position: fixed;
  top: 50px;
  margin-top: 4%;
  opacity: 0.9;
  width: 100%;
  height: 5px;
  z-index: 10000;
}
/* line 267, ../scss/style.scss */
.progress img {
  height: 75%;
  width: 75%;
  position: absolute;
  left: -30%;
  padding-top: 1%;
}

/* line 280, ../scss/style.scss */
.sponsors {
  width: 95%;
  padding: 2%;
  margin: 0 auto;
}
/* line 285, ../scss/style.scss */
.sponsors a {
  display: inline-block;
  background: #ffffff;
  opacity: 1.0;
  transition: opacity 0.5s;
  width: 95%;
  height: 150px;
  padding: 2%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 0.2%;
  vertical-align: middle;
}
/* line 297, ../scss/style.scss */
.sponsors a:hover {
  opacity: 0.4;
}
/* line 302, ../scss/style.scss */
.sponsors img {
  width: 80%;
  margin: 0 auto;
  display: block;
  vertical-align: middle;
}
/* line 308, ../scss/style.scss */
.sponsors img.girls {
  width: 30%;
  margin: 0 auto;
}

/* line 314, ../scss/style.scss */
.draplin {
  display: inline-block;
  width: 45%;
  vertical-align: top;
  margin: 0 auto;
  padding: 2%;
}

/* line 323, ../scss/style.scss */
.lukas {
  display: inline-block;
  width: 45%;
  vertical-align: top;
  margin: 0 auto;
  padding: 2%;
}

/* line 332, ../scss/style.scss */
.sidebar {
  padding: 2%;
  margin: 0 auto;
}
/* line 335, ../scss/style.scss */
.sidebar h4 {
  margin: 0;
}

/* line 340, ../scss/style.scss */
.nav-collapse {
  text-align: center;
  background: #002041;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  padding-bottom: 4%;
}
/* line 348, ../scss/style.scss */
.nav-collapse a {
  color: #ffffff;
  text-decoration: none;
}
/* line 352, ../scss/style.scss */
.nav-collapse li {
  display: inline-block;
  padding-left: 1%;
  padding-right: 1%;
  width: 15%;
  font-size: 10pt;
  margin: 0 auto;
  vertical-align: middle;
}
/* line 361, ../scss/style.scss */
.nav-collapse img {
  height: 50px;
}

@media screen and (min-width: 660px) {
  /* line 369, ../scss/style.scss */
  .wrapper {
    display: inline-block;
  }

  /* line 373, ../scss/style.scss */
  .sidebar {
    padding: 2%;
    display: inline-block;
  }
  /* line 376, ../scss/style.scss */
  .sidebar h4 {
    margin: 0;
  }

  /* line 381, ../scss/style.scss */
  .sponsors {
    width: 95%;
    padding: 2%;
    margin: 0 auto;
  }
  /* line 386, ../scss/style.scss */
  .sponsors a {
    display: inline-block;
    background: #ffffff;
    opacity: 1.0;
    transition: opacity 0.5s;
    width: 45%;
    height: 150px;
    padding: 2%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin: 0.2%;
    vertical-align: middle;
  }
  /* line 398, ../scss/style.scss */
  .sponsors a:hover {
    opacity: 0.4;
  }
  /* line 403, ../scss/style.scss */
  .sponsors img {
    width: 65%;
    margin: 0 auto;
    display: block;
    vertical-align: middle;
  }
  /* line 409, ../scss/style.scss */
  .sponsors img.girls {
    width: 30%;
  }
  /* line 413, ../scss/style.scss */
  .sponsors img.chimp {
    padding-top: 6%;
  }

  /* line 419, ../scss/style.scss */
  .presentation {
    background: white;
    padding-bottom: 2%;
    padding-left: 2%;
    width: 95%;
    margin: 0 auto;
  }
  /* line 425, ../scss/style.scss */
  .presentation img {
    width: 45%;
    margin: 0 auto;
  }
  /* line 429, ../scss/style.scss */
  .presentation a {
    display: inline-block;
    opacity: 1.0;
    transition: opacity 0.5s;
    width: 45%;
    vertical-align: middle;
    margin: 0 auto;
  }
  /* line 437, ../scss/style.scss */
  .presentation a:hover {
    opacity: 0.4;
  }
  /* line 442, ../scss/style.scss */
  .presentation.ums {
    height: 50%;
  }

  /* line 446, ../scss/style.scss */
  .footerimg {
    width: 10%;
  }

  /* line 451, ../scss/style.scss */
  .nav-collapse li {
    font-size: 14pt;
    vertical-align: middle;
  }
  /* line 455, ../scss/style.scss */
  .nav-collapse a {
    font-size: 14pt;
  }
}
@media screen and (min-width: 1000px) {
  /* line 467, ../scss/style.scss */
  .wrapper {
    display: inline-block;
  }

  /* line 471, ../scss/style.scss */
  .sidebar {
    padding: 2%;
    display: inline-block;
  }
  /* line 474, ../scss/style.scss */
  .sidebar img {
    width: 50%;
  }
  /* line 477, ../scss/style.scss */
  .sidebar h4 {
    margin: 0;
  }

  /* line 482, ../scss/style.scss */
  .presentation {
    width: 95%;
    margin: 0 auto;
    padding-left: 2%;
  }
  /* line 487, ../scss/style.scss */
  .presentation img {
    display: block;
    vertical-align: middle;
  }

  /* line 495, ../scss/style.scss */
  .footerimg {
    width: 5%;
    max-width: 120px;
  }
}
