@import "compass";
/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/

.clearfix {
    zoom: 1;
    &:before, &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

/***** SITE STYLES *************/
/**********************************/
body{
    background: #fbf9f5;
    font-family: "Ubuntu", sans-serif;
    color: #002041;
    line-height: 1.5em;
}

h2, h3, h4{
    font-family: "Rokkitt", serif;
}

ul{
    padding: 0;
}

li{
    list-style: none;
}

img{
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: block;
}

.top{
	background-image: url(../img/heroimg.jpg);
	background-repeat: no-repeat;
    background-position: center 20%;
    background-size: cover;
	width: 100%;
    font-family: "Rokkitt", serif;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-shadow:  1px 1px 0 #000000;
}

.logo{
    width: 20%;
    height: 20%;
    margin: 0 auto;
    display: block;
    // margin-top: 20px;
}

.register{
    background: #f7941d;
    color: white;
    border: 5px solid white;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    padding: 5px;    
    width: 50px;
    margin: 0 auto;
    transition: background 0.5s ease;
    font-size: small;
    

    &:hover{
      background: #7f4d10;
    }
}

.registerone{
    background: #f7941d;
    color: white;
    border: 5px solid white;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    padding: 15px;    
    display: block;
    width: 50px;
    margin: 0 auto;
    transition: background 0.5s ease;
    

    &:hover{
      background: #7f4d10;
    }
}

.discount{
    display: inline-block;
    margin: 0;
    padding: 0;
    text-decoration: line-through;
}


.p2{
    background: #ffffff;
    padding: 2%;
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.maincontent{
    width: 95%;
    margin: 0 auto;
}

.firsth{
    margin-top: 0;
}

.schedule{ 
    padding-bottom: 2%;
    width: 95%;
    margin: 0 auto;
    ul{
        p{
            margin: 0;
        }

        li{
            margin-bottom: 2%;
            padding: 2%;
            display: inline-block;
        }
    }
}

.schedule_table{
    width: 95%;
    margin: 0 auto;

}

.hashtag{
    margin-top: 5%;
    margin-bottom: 5%;
}

.wednesday{
    border: 2px solid #b2b2b2;
    border-bottom: none;
    padding: 2%;
    h3{
        border-bottom: 2px solid #b2b2b2;
        background: #b8e2b9;
    }
}

.thursday{
    border: 2px solid #b2b2b2;
    border-bottom: none;
    padding: 2%;
    h3{
        border-bottom: 2px solid #b2b2b2;
        background: #b8e2b9;
    }
}

.friday{
    border: 2px solid #b2b2b2;
    padding: 2%;
    h3{
        border-bottom: 2px solid #b2b2b2;
        background: #b8e2b9;

    }
}

.lunch{
    border-bottom: 2px solid #b2b2b2;
    border-top: 2px solid #b2b2b2;
    padding: 1%;
    background: #a6cca7;
}

.sidebar{
    background: #b8e2b9;
    padding: 2%;
    
    h4, h3{
        margin: 0;
    }
}

.draplin{
    img{
        height: 30%;
        width: 30%;
    }
}

.lukas{
    img{
        height: 30%;
        width: 30%;
    }
}   

// .sponsors {

//     padding-bottom: 2%;
//     width: 95%;
//     margin: 0 auto;

//     img{
//         margin: 0 auto;
//         height: 50%;
//         width: 50%;
//     }   
// }
.bottom p{
    text-align: center;
}


.presentation{
    background: white;
    padding-bottom: 2%;
    padding-left: 2%;
    width: 95%;
    margin: 0 auto;
    img{
        width: 50%;
        margin: 0 auto;
    }
    a{
    display: inline-block;
    opacity: 1.0;
    transition: opacity 0.5s;
    width: 45%;

    &:hover{
      opacity: 0.4;
    }
}
}

.footerimg{
    height: 25%;
    width: 15%;
    margin: 0 auto;
    padding-top: 2%;
}




.progress{
    position:fixed;
    top: 0;
    background-color:#b2b2b2;
    opacity: 0.9;
    width:100%;
    height:50px;
    z-index: 10000;

    img{
        height: 75%;
        width: 75%;
        // display: inline-block;
        // float: left;
        position: absolute;
        left: -30%;
        padding-top: 1%;
    }

    
}

.sponsors{
    width: 95%;
    padding: 2%;
    margin: 0 auto;
    img{
        box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
        background: #ffffff;
        width: 45%;
        height: 45%;
        padding:20px;
        display: inline-block;
    }

    a{
    display: inline-block;
    opacity: 1.0;
    transition: opacity 0.5s;
    width: 45%;
    height: 45%;

    &:hover{
      opacity: 0.4;
    }
    }   
}
    .draplin{
        display: inline-block;
        width: 45%;
        vertical-align: top;
        margin: 0 auto;
        padding: 2%;

    }

    .lukas{
        display: inline-block;
        width: 45%;
        vertical-align: top;
        margin: 0 auto;
        padding: 2%;

    }

    .sidebar{
        padding: 2%;
        margin: 0 auto;
        h4{
            margin: 0;
        }
    }

    .nav-collapse{
        text-align: center;
        a{
            color: #ffffff;
            text-decoration: none;
        }
        li{
            display: inline-block;
            padding-left: 1%;
            padding-right: 1%;
            width: 20%;
            font-size: 10pt;
        }
    }


@media screen and (min-width: 660px){

    .wrapper{
        display: inline-block;
    }

    .sidebar{
        padding: 2%;
        display: inline-block;
        h4{
            margin:0;
        }
    }

    // .chimp{
    //     float: left;
    //     width: 40%;
    //     // background-color: #ffffff;
    //     margin: 2%;



    // }

    // .git{
    //    float: left;
    //    width: 40%; 
    //    // background-color: #ffffff;
    //    margin: 2%;


    // }

    // .shop{
    //    float: right;
    //    width: 40%; 
    //    // background-color: #ffffff;
    //    margin: 2%;


    // }

    // .girls{
    //    float: right;
    //    width: 40%;
    //    // background-color: #ffffff;
    //    margin: 2%;


    // }

    .ums{
        display: inline-block;
        vertical-align: middle;
        padding-top: 35px;
    }

    .tiy{
        display: inline-block;
        vertical-align: middle;
    }

    .footerimg{
        width: 10%;
    }

    


}

@media screen and (min-width: 1000px){
    .wrapper{
        display: inline-block;
    }

    .sidebar{
        padding: 2%;
        display: inline-block;
        img{
            width: 50%;
        }
        h4{
            margin: 0;
        }
    }

    .presentation{
        width: 95%;
        margin: 0 auto;
        padding-left: 2%;
        
        img{
            display: block;
            vertical-align: middle;
        }
    }

    // .sponsors{

    //     img{
    //         display: inline-block;
    //         width: 25%;
    //         max-width: 330px;
    //         vertical-align: top;
    //     }
    // }

    .footerimg{
        width: 5%;
        max-width: 120px;
    } 
}

